# === Скомпилированные файлы Maven ===
target/
*.jar
*.war
*.ear
*.zip
*.tar.gz
build/

!.mvn/wrapper/maven-wrapper.jar

# === Системные файлы macOS ===
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# === Настройки IntelliJ IDEA ===
.idea/
*.iml
*.iws
*.ipr
/shelf/
/workspace.xml

# === HTTP-клиенты, запросы и локальные базы данных ===
/httpRequests/
/queries/
/dataSources/
/dataSources.local.xml

# === VS Code & Другие редакторы ===
.vscode/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# === Логи приложения ===
*.log
logs/